.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}


rules_version = '2'; service cloud.firestore {   match /databases/{database}/documents {     match /{document=**} {       allow read, write: if false;     }   } }
출처: https://ardmos.tistory.com/entry/Firebase-Cloud-Firestore-Test-Mode-Production-Mode-변경 [Ardmos의 마법 창고 입니다:티스토리]